button {
  background-color: aqua;
}

footer {
  text-align: center;
  background-color: #000;
  height: 40px;
  color: white;
  width: auto;
}

body {
  text-align: center;
  background-color: silver;
}
.color {
  height: 30px;
  padding: 10px;
  margin:  5px;
  width: 30px;
  border: 1px solid black;
}

.pixel {
  height: 40px;
  padding: 20px;
  margin:  1px;
  width: 40px;
  border: 1px solid black;
  background-color: #fff;
}

#clear-board {

}


#color-palette {
  display:  flex;
  justify-content: center;
}

#color-palette div:nth-child(1) {
  background-color: #000;
}
#color-palette div:nth-child(2) {
  background-color: rgb(252, 4, 4);
}
#color-palette div:nth-child(3) {
  background-color: rgb(19, 6, 196);
}
#color-palette div:nth-child(4) {
  background-color: rgb(8, 102, 21);
}


#pixel-board {
  display: flex ;
  justify-content: center;
}

#pixel-board div:nth-child(1) {
  background-color: #fff;
}
#pixel-board div:nth-child(2) {
  background-color: #fff;
}
#pixel-board div:nth-child(3) {
  background-color: #fff;
}
#pixel-board div:nth-child(4) {
  background-color: #fff;
}
#pixel-board div:nth-child(5) {
  background-color: #fff;
}
